body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

/* ヘッダー
================================================== */
.header__inner {
    max-width: 1080px;
    height: 70px;
    color: rgb(160, 160, 160);
    margin: 0 auto;
}

.header__cat-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header__cat-2 {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 350px;
    margin-top: 10px;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-logo__text {
    margin-left: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(77, 77, 77);
}

.header-nav__left {
    margin-left: 10px;
}

.header-nav__right{
    margin-top: 10px;
}

.header-nav__left-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header-nav__right-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header-nav__left-item,
.header-nav__right-item {
    margin-left: 20px;
}

.header a{
    color: rgb(160, 160, 160);
}

a.nav-btn {
    background-color: rgb(0, 110, 255);
    padding: 13px 36px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
}

.hamburger-input {
    display: none;
    opacity: 0;
}

.hamburger-label {
    display: none;
    opacity: 0;
}

.res-header-nav {
    display: none;
    opacity: 0;
}

/* イントロ
================================================== */
.intro__inner {
    margin: 100px auto 0;
    max-width: 1080px;
}

.intro__cat {
    display: flex;
    justify-content: space-between;
}

.intro__text {
    width: 50%;
    position: relative;
}

.intro__text-wrap {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}

.intro__title {
    font-size: 2.8rem;
    font-weight: bold;
    color: rgb(77, 77, 77);
}

.intro__sentence {
    font-size: 1.1rem;
    color: rgb(77, 77, 77);
    margin-bottom: 30px;
}

.intro-btn {
    background-color: rgb(0, 110, 255);
    padding: 13px 36px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-size: .9rem;
}

.intro__img {
    width: 50%;
}

.intro__img-entity {
    object-fit: cover;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

/* メイン1
================================================== */
.main-1__inner {
    max-width: 1080px;
    margin: 250px auto 0;
}

.main-1__cat {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 550px;
}

.main-1__text {
    width: 35%;
    color: rgb(77, 77, 77);
    position: relative;
}

.main-1__text-wrap {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.main-1__title {
    font-size: 1.7rem;
    font-weight: bold;
}

.main-1__sentence {
    margin-top: 30px;
    font-size: 1rem;
}

.main-1__card-list {
    display: flex;
    width: 65%;
}

.main-1__card {
    width: 100%;
    height: 40%;
    box-shadow: 1px 1px 5px rgb(204, 204, 204);
    border-radius: 7px;
    overflow: hidden;
    padding: 10px;
}

.main-1__card-wrap-1 .main-1__card:nth-child(1) {
    margin-left: 0;
    margin-top: 0;
}
.main-1__card-wrap-1 .main-1__card:nth-child(2) {
    margin-top: 30px;
}

.main-1__card-wrap-2 .main-1__card:nth-child(1) {
    margin-left: 30px;
    margin-top: 60px;
}

.main-1__card-wrap-2 .main-1__card:nth-child(2) {
    margin-left: 30px;
    margin-top: 30px;
}

.main-1__card:nth-child(1) > .main-1__card-img {
    content: url(../images/main1-card1.png);
}

.main-1__card:nth-child(2) > .main-1__card-img {
    content: url(../images/main1-card2.png);
}

.main-1__card:nth-child(3) > .main-1__card-img {
    content: url(../images/main1-card3.png);
}

.main-1__card:nth-child(4) > .main-1__card-img {
    content: url(../images/main1-card4.png);
}

.main-1__card-img {
    display: block;
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.main-1__card-title {
    display: inline-block;
    color: rgb(77, 77, 77);
    margin-top: 10px;
    font-weight: bold;
}

.main-1__card-sentence {
    display: inline-block;
    padding-top: 6px;
    color: rgb(160, 160, 160);
    letter-spacing: 1px;
    line-height: 1.2;
}

/* メイン2
================================================== */
.main-2__inner {
    max-width: 1080px;
    margin: 0 auto;
}

.main-2__contents {
    display: flex;
}

.main-2__contents:nth-child(2) {
    flex-direction: row-reverse;
}

.main-2__img {
    width: 50%;
}

.main-2__img-entity {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-2__text {
    width: 50%;
    padding: 15% 2%;
    text-align: left;
}

.main-2__title {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(77, 77, 77);
    letter-spacing: .7px;
}

.main-2__sentence {
    margin-top: 30px;
    color: rgb(77, 77, 77);
    letter-spacing: 1px;
}

/* testimonials
================================================== */
.testimonials__inner {
    max-width: 1080px;
    margin: 100px auto 0;
}

.testimonials__title-wrap {
    text-align: center;
    margin-bottom: 50px;
}

.testimonials__title {
    font-size: 2.2rem;
    font-weight: bold;
    color: rgb(77, 77, 77);
}

.testimonials__sub-title {
    font-size: 1.5rem;
    color: rgb(77, 77, 77);
}

.testimonials__contents {
    margin: 0 auto;
    width: 100%;
    column-count: 4;
    column-gap: 40px;
}

.testimonials__card {
    width: 250px;
    height: auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 5px rgb(204, 204, 204);
    border-radius: 7px;
    margin-bottom: 40px;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}

.testimonials__sentence {
    color: rgb(99, 99, 99);
    letter-spacing: 1.1px;
    line-height: 1.4;
    padding: 25px 25px 0 25px;
}

.fa-quote-left {
    color: rgb(77, 77, 77);
}

.testimonials__customer {
    padding: 20px 20px 20px 25px;
    position: relative;
}

.testimonials__customer-img {
    width: 35px;
    height: 35px;
    object-fit: cover;
}

.testimonials__customer-meta {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -48%);
}

.testimonials__customer-name {
    color: rgb(77, 77, 77);
    font-weight: bold;
}

.testimonials__customer-from {
    color: rgb(160, 160, 160);
    font-size: .8rem;
}

/* quote
================================================== */
.quote__inner {
    background-color: rgb(250, 250, 250);
    padding: 40px 0;
    margin-top: 100px;
}

.quote__title {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(77, 77, 77);
    text-align: center;
}

.quote__form {
    width: 60%;
    margin: 40px auto;
    padding: 40px;
    box-shadow: 1px 1px 20px rgb(230, 230, 230);
    border-radius: 7px;
    background-color: rgb(255, 255, 255);
}

.quote__form-sentence {
    text-align: center;
}

.quote__form-sentence:nth-child(1) {
    font-weight: bold;
    color: rgb(77, 77, 77);
}

.quote__form-sentence:nth-child(2) {
    font-size: .9rem;
    color: rgb(160, 160, 160);
    margin-top: 5px;
}

.quote__form-img {
    display: block;
    margin: 0 auto;
    width: 250px;
    height: 350px;
    object-fit: contain;
}

.quote__form-btn {
    display: block;
    width: 180px;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(0, 110, 255);
    padding: 13px 36px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
}

/* footer
================================================== */
.footer__inner {
    margin-top: 100px;
    background-color: rgb(250, 250, 250);
    padding: 50px 100px 30px;
}

.footer__cat {
    display: flex;
}

.footer__cat1 {
    width: 20%;
}

.footer__title {
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(77, 77, 77);
}

.footer__cat1 .footer__title {
    font-size: 1.7rem;
}

.footer__text {
    margin-top: 20px;
    letter-spacing: .7px;
    color: rgb(121, 121, 121);
}

.footer__socials {
    margin-top: 20px;
}

.footer__socials-icon {
    color: rgb(77, 77, 77);
    padding-right: 20px;
    font-size: 24px;
}

.footer__column {
    margin-left: 8%;
}

.footer__menu {
    margin-top: 20px;
}

.footer__menu-item {
    color: rgb(121, 121, 121);
    padding-bottom: 10px;
}


.copyright {
    text-align: right;
    margin-top: 40px;
    color: rgb(77, 77, 77)
}

/* レスポンシブ
================================================== */
@media screen and (max-width: 768px) {
    /* ヘッダー
    ================================================== */
    .header__inner {
        position: relative;
        width: 100vw;
        height: 85px;
    }

    .header-logo {
        margin: 5px 0 0 10px;
    }

    .header-nav__left,
    .header-nav__right{
        display: none;
        opacity: 0;
    }

    a.nav-btn {
        display: inline-block;
        width: 100%;
        padding: 13px 0;
    }

    .hamburger-label{
        display: inline-block;
        opacity: 1; 
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    .hamburger-icon ion-icon {
        padding-right: 25px;
        font-size: 32px;
    }

    .res-header-nav__item {
        text-align: center;
        padding: 15px;
    }

    .menu-close {
        display: none;
    }

    .hamburger-input:checked + label .hamburger-icon .menu-open {
        display: none;
    }

    .hamburger-input:checked + label .hamburger-icon .menu-close {
        display: block;
    }

    .hamburger-input:checked ~ .res-header-nav {
        display: block;
        position: absolute;
        top: 85px;
        width: 100vw;
        height: auto;
        opacity: 1;
        background-color: rgb(250, 250, 250);
        z-index: 2;
    }

    /* イントロ
    ================================================== */
    .intro__inner {
        width: 90vw;
        max-width: 768px;
        margin: 20px auto 0;
        z-index: 1;
    }

    .intro__cat {
        display: block;
    }

    .intro__text {
        width: 100%;
        position: static;
        text-align: center;
    }

    .intro__text-wrap {
        position: static;
        transform: translateY(0);
    }

    .intro__title {
        font-size: 2.2rem;
    }

    .intro__sentence {
        font-size: 1rem;
        margin-top: 15px;
    }

    .intro-btn {
        padding: 13px 25px;
    }

    .intro__img {
        width: 100%;
    }

    .intro__img-entity {
        object-fit: contain;
        height: 50vh;
    }

    /* メイン1
    ================================================= */
    .main-1__inner {
        max-width: 768px;
        margin: 50px auto 0;
        width: 90vw;
    }

    .main-1__cat {
        display: block;
        height: auto;
    }

    .main-1__text {
        width: 100%;
        position: static;
    }

    .main-1__text-wrap {
        position: static;
        transform: translateY(0);
    }

    .main-1__title {
        font-size: 2rem;
    }

    .main-1__sentence {
        margin: 10px 0 30px;
    }

    .main-1__card-list {
        display: block;
        width: 100%;
    }

    .main-1__card {
        width: 100%;
        height: 40%;
        box-shadow: 1px 1px 5px rgb(204, 204, 204);
        border-radius: 7px;
        overflow: hidden;
        padding: 10px;
    }

    .main-1__card-wrap-2 .main-1__card:nth-child(1) {
        margin-left: 0;
        margin-top: 30px;
    }

    .main-1__card-wrap-2 .main-1__card:nth-child(2) {
        margin-left: 0;
    }

    .main-1__card-img {
        display: block;
        width: 30px;
        height: 30px;
        object-fit: cover;
    }

    .main-1__card-title {
        display: inline-block;
        color: rgb(77, 77, 77);
        margin-top: 10px;
        font-weight: bold;
    }

    .main-1__card-sentence {
        display: inline-block;
        padding-top: 6px;
        color: rgb(160, 160, 160);
        letter-spacing: 1px;
        line-height: 1.2;
    }

    /* メイン2
    ================================================== */
    .main-2__inner {
        width: 90vw;
        max-width: 768px;
        margin: 50px auto 0;
    }

    .main-2__contents {
        display: block;
    }

    .main-2__img {
        width: 100%;
    }

    .main-2__text {
        width: 100%;
    }

    .main-2__sentence {
        margin-top: 10px;
    }

    /* testimonials
    ================================================== */
    .testimonials__inner {
        width: 90vw;
        max-width: 768px;
        margin: 50px auto 0;
    }

    .testimonials__title-wrap {
        text-align: center;
        margin-bottom: 30px;
    }

    .testimonials__title {
        font-size: 2rem;
    }

    .testimonials__sub-title {
        font-size: 1rem;
        color: rgb(77, 77, 77);
    }

    .testimonials__contents {
        column-count: 1;
        column-gap: 0;
    }

    .testimonials__card {
        width: auto;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .testimonials__sentence {
        letter-spacing: 1px;
        line-height: 1.3;
        padding: 25px 25px 0 25px;
    }

    .testimonials__customer-meta {
        top: 48%;
        left: 65px;
        transform: translateY(-48%);
    }

    /* quote
    ================================================== */
    .quote__inner {
        padding: 20px 0;
        margin-top: 50px;
    }

    .quote__form {
        width: 80%;
        margin: 20px auto;
        padding: 20px;
    }

    /* フッター
    ================================================== */
    .footer__inner {
        padding: 50px 30px 30px;
    }

    .footer__cat {
        display: block;
    }

    .footer__cat1 {
        width: 70%;
    }

    .footer__column {
        margin-top: 20px;
        margin-left: 0;
    }

    .footer__menu {
        margin-top: 8px;
    }

    .copyright {
        text-align: center;
        margin-top: 40px;
    }
}
