body {
    font-family: 'Montserrat', sans-serif;
}

/* ヘッダー
================================================== */
.header__inner {
    width: 100vw;
    height: 70px;
    color: rgb(160, 160, 160);
}

.header__cat-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header__cat-2 {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 350px;
    margin-left: 20%;
    margin-top: 10px;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-logo__text {
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(77, 77, 77);
}

.header-nav__left {
    margin-left: 10px;
}

.header-nav__right{
    margin-right: 20%;
    margin-top: 10px;
}

.header-nav__left-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header-nav__right-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header-nav__left-item,
.header-nav__right-item {
    margin-left: 20px;
}

.header a{
    text-decoration: none;
    color: rgb(160, 160, 160);
}

a.nav-btn {
    background-color: rgb(0, 110, 255);
    padding: 13px 36px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
}

/* イントロ
================================================== */
.intro__inner {
    margin-top: 200px;
}

.intro__cat {
    display: flex;
    flex-wrap: wrap;
}

.intro__text {
    width: 50%;
    position: relative;
}

.intro__text-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
}

.intro__title {
    font-size: 43px;
    font-weight: bold;
    color: rgb(77, 77, 77);
}

.intro__sentence {
    font-size: 20px;
    color: rgb(77, 77, 77);
    margin-bottom: 30px;
}

.intro-btn {
    background-color: rgb(0, 110, 255);
    padding: 13px 36px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 14px;
}

.intro__img {
    width: 50%;
}

.intro__img-entity {
    object-fit: cover;
    margin: 0 auto;
}